body {
  margin: 0;
  font-family: "Rubik Mono One", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

#App {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.App-logo-container {
  position: absolute; 
  top: 1em;
  left: 1em;
  width: 10vh;
}

.App-logo-dropdown {
  position: absolute;
  top: 100%; 
  left: 0;
  background-color: white;
  border: 1px solid rgba(141, 141, 141, 0.5);
  box-shadow: 0px 0px 10px rgba(141, 141, 141, 0.5);
  border-radius: 0.5em;
  width: 10vh;
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 20vh;
}

.App-logo-container:hover .App-logo-dropdown,
.App-logo-dropdown:hover {
  opacity: 1; 
  transform: translateY(0); 
  pointer-events: auto; 
}

.App-logo {
  height: 10vh;
  border: 1px solid rgba(141, 141, 141, 0.5);
  border-radius: 50%;
  box-shadow: 0px 0px 10px rgba(141, 141, 141, 0.5);
}




@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 5s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* about page  */
#about-content {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

#about {
  width: 40%;

  display: flex;
  margin: 0;
  padding: 0;
  flex-direction: column;
  border-left: 3px solid rgba(141, 141, 141, 0.5);
}

#about h1 {
  padding-left: 1em;
  margin: 0;
}

#about p {
  padding-left: 2em;
}

/* navbar */

nav {
  position: absolute;
  display: flex;
  flex-direction: row;
  width: 20%;
  height: 8%;
  border: 1px solid rgba(141, 141, 141, 0.5);
  border-radius: 3em;
  box-shadow: 0px 0px 10px rgba(141, 141, 141, 0.5);
  margin-bottom: 5em;
  background-color: white;
  align-items: center;
  justify-content: space-around;
}

.navbar-icon {
  display: inline-block;
  cursor: pointer;
  transition: transform 0.3s ease;
  color: black;
}

.navbar-icon:hover {
  transform: scale(1.5);
}

#plus-icon {
  background-color: rgba(141, 141, 141, 0.5);
  box-shadow: 0px 0px 10px rgba(141, 141, 141, 0.5);
  border-radius: 50%;
  padding: 0.8em;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.plus-icon {
  transition: transform 0.3s ease;
}

#plus-icon:hover .plus-icon {
  transform: scale(1.5);
}

/* trips page */

#trips-content {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#trips {
  width: 60%;
  height: 100%;
  display: flex;
  margin: 0;
  padding: 0;
  flex-direction: row;
  /* border-left: 3px solid rgba(141, 141, 141, 0.5); */
  flex-wrap: wrap;
  gap: 2em;
  margin-top: 30em;
  overflow: auto;
  scrollbar-width: none; 
  -ms-overflow-style: none;
}

#trips::-webkit-scrollbar {
  display: none;
}

#trip {
  position: relative;
  width: 100%;
  height: 100%;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#trip img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#trip h1 {
  position: absolute;
  color: black;
  font-size: 1.2em;
  opacity: 0;
  z-index: 2;
  width: 8vw;
  transition: opacity 0.3s ease;
  text-align: center;
}

#trip::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(3px);
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 1;
}

#trip:hover {
  cursor: pointer;
}

#trip:hover::before,
#trip:hover h1 {
  opacity: 1;
}


/* trip details page */
#tripdetails-content {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


#map-container {
  position: relative;
  height: 50vh;
  width: 40vw;

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.map {
  height: 100%;
  width: 100%;
  background-color: white;
}

.leaflet-container {
  background-color: white !important;
}
